<!DOCTYPE html>
<html lang="en">
<head>
    <!-- importation de angular js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        changement dynamique des nom avec angular js
    </p>
    <div ng-app="Myapp">
        <p>Prénom: <input type="text" ng-model="firstName"></p> <!--camelCase-->
        <p>Nom: <input type="text" ng-model="lastName"></p>
        <p> le nom complet: {{firstName + " " + lastName}}</p>
        


    </div>
</body>
</html>